export VCPKG_ROOT=~/.vcpkg
export PATH=$VCPKG_ROOT:$PATH

export CMAKE_TOOLCHAIN_FILE="${VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake"
export VCPKG_INSTALLED_DIR="./vcpkg_installed"

. .venv/bin/activate
unset PS1