[submodule "kiss-icp"]
	path = cpp/evalio/pipelines/kiss-icp
	url = git@github.com:contagon/kiss-icp.git
[submodule "cpp/evalio/pipelines/LIO-SAM"]
	path = cpp/evalio/pipelines/LIO-SAM
	url = git@github.com:contagon/LIO-SAM.git
