# build artifacts
dist
**/build*
result*
result
wheelhouse
.vcpkg_installed
.vcpkg
.vcpkg_cache
site

# other caches
.mypy_cache
.ruff_cache
.pytest_cache
.vscode
.venv
__pycache__
*.yaml
*.csv
.cache
.clangd
python/evalio/_cpp
tests/data-old
data
.envrc

# for building
compile_commands.json

evalio_data/
build/
dist/
results/
